rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid}/library/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == uid
        && request.auth.token.email in ['ferchichimehdi1301@gmail.com', 'drougat.roman@gmail.com'];
    }
  }
}
